/*
  v1 from https://github.com/setetres/evenbettermotherfuckingwebsite
  sans-serif system font stack: https://systemfontstack.com/
*/
body {
  margin: 5% auto;
  background: #f2f2f2;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial,
    sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  text-shadow: 0 1px 0 #ffffff;
  max-width: 720px;
}
code {
  background: white;
}
a {
  border-bottom: 1px solid #333333;
  color: #333333;
  text-decoration: none;
}
a:hover {
  border-bottom: 0;
}
figcaption {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 64em) {
  body {
    max-width: 75%;
  }
}

@media only screen and (max-width: 48em) {
  body {
    max-width: 95%;
  }
}